<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container py-4">
    {% block body %}
        <div>
            <h2 class="text-center">{{ gallery.name }}</h2>
        </div>
        <br>
        <div class="container">
            <div class="row">
                {% for image in imageSrcList %}
                    <div class="col-6">
                        <img src="{{ image }}" style="width:500px">
                    </div>
                {% endfor    %}
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>
